.love {

    border: 1px solid black;

    padding: 1%;

    font-family: 'Times New Roman', Times, serif, monospace;

    font-size: medium;

    text-align: center;

    margin-top: 25%;

    background-color: rgb(89, 139, 148)

}

.wholepage {

    background-color: rgb(205, 110, 65);

}